* {
  font-family: "Martian Mono", monospace;
  overflow: hidden;
  font-size: 80px;
  color: #DEF8F4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  margin: 0;
}

#myCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  width: 100%;
}

.name {
  /* font-weight: 600; */
  color: #DEF8F4;
  /* color: #FF4294; */
}

nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: fixed;
  bottom: 30%;
  flex-direction: column;
  width: 100%;
  z-index: 3000;
}

nav ul {
  list-style: none;
  /* padding: 20px; */
  margin: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}


nav ul li {
  margin-bottom: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #DEF8F4;
  display: block;
}


.links {
  color: #DEF8F4;
}

li:hover a {
  text-decoration: none;
  /* color: #DEF8F4; */
  /* color: #AA83EC; */
  color: #F0F600;
}


@media only screen and (max-width: 768px) {
 * { font-size: 60px;}
}

@media only screen and (max-width: 590px) {
* { font-size: 40px;}
}